.auth-links__container_links-sign {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.auth-links__container_links-sign p {
  text-align: right;
  font-family: var(--font-family);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  margin-right: 30px;
  cursor: pointer;
  transition: var(--transition-on-hover);
}

.auth-links__container_links-sign p:hover {
  opacity: var(--opacity-link);
  transform: scale3d(1.1, 1, 1.1);
  text-decoration: underline;
}

.auth-links__container_links-sign form {
  margin: 0; /* Добавлено */
}

.auth-links__container_links-sign button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: var(--color-green);
  padding: 8px 20px;
  outline: none;
  border: none;
  border-radius: 3px;
  color: var(--color-text-dark);
  font-family: var(--font-family);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  cursor: pointer;
  transition: var(--transition-on-hover);
}

.auth-links__container_links-sign button:hover {
  opacity: var(--opacity-btn);
}

@media screen and (max-width: 320px) {
  .auth-links__container_links-sign p {
    font-size: 10px;
    margin-right: 14px;
  }

  .auth-links__container_links-sign button {
    padding: 5px 12px;
    border-radius: 3px;
    font-size: 10px;
    cursor: pointer;
  }
}
