
.about-project {
  background: var(--color-footer);
  color: var(--color-text-light);
  position: relative;
}

.about-project__wrapper {
  padding: 112px 70px;
}

.about-project__about {
  padding-bottom: 26px;
  border-bottom: 1px solid #ffffff;
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.about-project__content {
  margin: 67.20px 0 110px;
  display: flex;
  gap: 56px;
}

.content__column h3 {
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.8px;
  margin-bottom: 26px;
}

.content__column p {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 20px;
}

.content_timeline {
  display: flex;
  flex-direction: row;
  max-width: 1140px; /* Добавлено */
  margin: 0 auto; /* Добавлено */
}

.timeline__first-week,
.timeline__second-week {
  flex: 1;
}

.timeline__first-week {
  max-width: 20%;
}

.timeline__second-week {
  max-width: 80%;
}

.first-week_box {
  padding-bottom: 9px;
  padding-top: 9px;
  min-height: 36px;
  text-align: center;
  font-family: var(--font-family);
  font-size: 14px;
  line-height: normal;
}

.first-week_box_color_green {
  color: var(--color-text-dark);
  background: var(--color-green);
}

.first-week_box_color_dark {
  color: var(--color-text-light);
  background: var(--color-dark);
}

.content_timeline p {
  margin-top: 13.92px;
  color: var(--color-gray);
  text-align: center;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

@media screen and (max-width: 768px) {
  .about-project__wrapper {
    padding: 88px 50px;
  }

  .about-project__about {
    padding-bottom: 24px;
  }

  .about-project__content {
    margin-bottom: 93px;
    gap: 38px;
  }

  .content__column h3 {
    margin-bottom: 20px;
  }

  .content__column p {
    font-size: 12px;
    line-height: 18px;
  }

  .timeline__first-week {
    flex: 1.2;
  }

  .timeline__second-week {
    flex: 4.5;
  }

  .content_timeline p {
    font-weight: 400;
  }
}

@media screen and (max-width: 430px) {
  .about-project__wrapper {
    padding: 70px 17px 68px;
  }

  .about-project__about {
    padding-bottom: 27.52px;
    font-size: 18px;
    font-style: normal;
    letter-spacing: -0.72px;
  }

  .about-project__content {
    flex-direction: column;
    gap: 54.40px;
    margin: 58px 0;
  }

  .content__column h3 {
    font-size: 18px;
    letter-spacing: -0.72px;
    margin-bottom: 16px;
  }

  .content__column p {
    font-size: 11px;
    line-height: 16px;
  }

  .first-week_box {
    padding-bottom: 11px;
    padding-top: 11px;
    font-size: 11px;
  }

  .timeline__first-week {
    flex: 1;
  }

  .timeline__second-week {
    flex: 2;
  }

  .content_timeline p {
    font-size: 11px;
    line-height: normal;
    margin-top: 10px;
  }
}
