.techs {
  background: var(--color-dark);
  color: var(--color-text-light);
}

.techs__wrapper {
  padding: 90px 69px 100px;
}

.techs__top {
  padding-bottom: 23px;
  border-bottom: 1px solid #dadada;
  font-family: var(--font-family);
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
}

.techs__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.techs__content h4 {
  margin: 89px 0 25px;

  text-align: center;
  font-family: var(--font-family);
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -2px;
}

.techs__content p {
  margin-bottom: 100px;
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.56px;
  max-width: 460px;
}

.content__stack {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.content__stack div {
  width: 90px;
  min-height: 60px;
  background: var(--color-dark-fields);
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 10px;
  font-family: var(--font-family);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}


@media screen and (max-width: 768px) {
  .techs__wrapper {
    padding: 92px 49px;
  }

  .techs__content h4 {
    margin: 80px 0 22px;
  }

  .techs__content p {
    margin-bottom: 83px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: -0.48px;
  }

  .content__stack {
    gap: 9px;
  }

  .content__stack div {
    padding-bottom: 20px;
    border-radius: 10px;
    width: 84px;
    min-height: 57px;
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 660px) {
  .content__stack {
    padding: 0 53px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 430px) {
  .techs__wrapper {
    padding: 71px 18px;
  }

  .techs__top {
    font-size: 18px;
    letter-spacing: -0.72px;
  }

  .techs__top {
    padding-bottom: 24px;
  }

  .techs__content h4 {
    margin: 60px 0 23px;
    font-size: 30px;
    line-height: normal;
    letter-spacing: -1.2px;
  }

  .techs__content p {
    margin-bottom: 50px;
    font-size: 11px;
    line-height: 16px;
    letter-spacing: -0.44px;
  }

  .content__stack {

  }

  .content__stack div {
    font-size: 12px;
    letter-spacing: -0.48px;
  }
}
