.form-btn {
  margin: 69px 0 16px;
  padding: 13px 32px 15px;
  width: 396px;
  color: var(--color-text-light);
  border-radius: 3px;
  background: var(--color-blue);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  transition: var(--transition-on-hover);
  cursor: pointer;
  outline: none;
  border: none;
}

.form-btn:hover {
  opacity: var(--opacity-btn);
}

@media screen and (max-width: 460px) {
  .form-btn {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .form-btn {
    margin: 155px 0 14px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 260px;
    font-size: 12px;
  }
}
